*.DS_Store
digitRecognizer_module/digitRecognizer.xcodeproj/project.xcworkspace/xcuserdata/yanghanyu.xcuserdatad/UserInterfaceState.xcuserstate
digitRecognizer_module/digitRecognizer.xcodeproj/xcuserdata/yanghanyu.xcuserdatad/xcschemes/digitRecognizer.xcscheme
digitRecognizer_module/digitRecognizer.xcodeproj/xcuserdata/yanghanyu.xcuserdatad/xcschemes/xcschememanagement.plist
